<!DOCTYPE html>
<html>
<head>
    <title>Firebase Integration</title>
</head>
<body>
<!-- Your content here -->

<!-- Insert this script at the bottom of the HTML -->


{% block content %}
    <!-- Default content can be placed here or left empty for extending templates -->
{% endblock %}
</body>
</html>
